.button {
    text-align: center;
    color: black;
    background: white;
    border: 1px solid rgb(151,151,151);
    width: 25%;
    height: 25%;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 400;
}

.wide {
    width: 75%;
}

.red {
    background-color: rgb(160, 0,30);
    color: white;
}

.clear {
    font-weight: 50;
}